/Mediator.Lite.Extension.Microsoft.DependencyInjection/obj/
/Mediator.Lite.Extension.Microsoft.DependencyInjection/bin/
/Mediator.Lite/bin/
/Mediator.Lite/obj/
/Mediator.Lite.Sample/bin/
/Mediator.Lite.Sample/obj/
